<nav class='top-nav top-nav-light cf' role='navigation'>
  <input id='menu-toggle' class='menu-toggle' type='checkbox'>
  <label for='menu-toggle'>Menu</label>
  <ul class='list-unstyled list-inline cf'>
    <li><a href='/'>/</a></li>
    <% if current_resource.url == '/projects/' %>
    <li>Projects</li>
    <% else %>
    <li><a href='/projects'>Projects</a></li>
    <% end %>
    <% if current_resource.url == '/categories/' %>
    <li>Categories</li>
    <% else %>
    <li><a href='/categories'>Categories</a></li>
    <% end %>
    <li class='pull-right'><a href='/about'>About</a></li>
  </ul>
</nav>
