<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    <% projects.each do |project| %>
    <tr>
      <td><%= link_to project.data["title"], project.url %></td>
      <td><%= project.data["description"] %></td>
      <td>
        <% project.data["tags"].each do |name| %>
        <a class='button button-small'><%= name %></a>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
