<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Categories</th>
    </tr>
  </thead>
  <tbody>
    <% projects.each do |project| %>
    <tr>
      <td><%= link_to project.data["title"], project.url %></td>
      <td><%= project.data["description"] %></td>
      <td>
        <% project.data["categories"].each do |name| %>
          <% unless name == ignored_category %>
          <a class='button button-small' href="/categories#<%= name %>"><%= name %></a>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
