---
title: Overview
---

<h2>
  Overview
</h2>

<p>
  There are more than 40 projects at <%= link_to 'https://github.com/jedcn', 'https://github.com/jedcn' %>.
</p>

<p>
  This site <%= link_to 'documents', '/projects' %> those projects and
  <%= link_to 'details', '/about' %> my approach to working on them.
</p>
